#main-container {
    width: 100%;
    position: relative;
    text-align: center;
    background-color: #eee;
    font-size: 0;
}

.panels {
    height: 675px;
    padding-top: 80px;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

#personal-info,
#cv {
    background-color: #fff;
}

#personal-info {
    width: 30%;
    max-width: 300px;
    text-align: left;
}

#image-div {
    width: 90%;
    height: 250px;
    margin: 100px auto 0;
    background: #fff url(../images/portrait.png) center no-repeat;
    background-size: cover;
}

#personal-info h2 {
    margin-top: 10px;
    padding-left: 60px;
    font-size: 50px;
    font-weight: 400;
    color: #ff7878;
}

#personal-info p {
    padding: 4px 0 4px 62px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
}

#personal-info span {
    color: #ccc;
}

#cv {
    width: 70%;
    max-width: 640px;
}

#cv > h3 {
    background-color: #ddd;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
}

#cv > h3, 
#cv > h3  span {
    border-bottom: 2px solid #fff;
    -o-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    cursor: pointer;
}

#cv > h3 span {
    position: absolute;
    left: 20px;
}

#cv > h3:hover,
#cv > h3:hover span {
    color: #fff;
}

#cv .selected {
    background-color: #ff7878;
}

#cv .selected,
#cv .selected span {
    color: #fff
}

.toggle-panels {
    height: 511px;
    padding: 20px;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
    text-align: left;
    display: flex; /* flexbox setup */
    flex-direction: row; /* vertical flexibility */
}

.toggle-panels h3 {
    font-size: 18px;
    line-height: 40px;
    font-weight: 500;
}

.toggle-panels p {
    font-size: 16px;
    line-height: 18px;
    color: #888;
}

.separation {
    width: 300px;
    margin: 20px auto 15px;
    border-bottom: 1px solid #ddd;
}

#personal-panel {
    display: block;
}

#personal-panel button {
    width: 150px;
    height: 30px;
    margin: 30px auto 0;
    border-radius: 20px;
    background-color: #ff7878;
    font-size: 16px;
    position: absolute;
    left: 0;
    right: 0;
}

#personal-panel button:hover {
    background-color: #ef6868;
}

#studies-panel,
#skills-panel {
    display: none;
}

.courses {
    margin-bottom: 10px;
}

#citylit {
    background: #fff url(../images/citylit.png) center no-repeat;
    background-size: 110px;
}

#city-university {
    background: #fff url(../images/city-university.png) center no-repeat;
    background-size: 105px;
}

#citylit,
#city-university,
#codecademy,
#lynda,
#udemy {
    width: 120px;
    height: 70px;
    margin-right: 20px;
}

#codecademy {
    background: #fff url(../images/codecademy.png) center no-repeat;
    background-size: 68px;
}

#lynda {
    background: #fff url(../images/lynda.png) center no-repeat;
    background-size: 77px;
}

#udemy {
    background: #fff url(../images/udemy.png) center no-repeat;
    background-size: 58px;
}

.courses div,
.courses p {
    display: inline-block;
    vertical-align: middle;
}

.courses p {
    width: 450px;
}

.courses a {
    color: #ff7878;
}

.separation-panels {
    width: 298px;
    display: inline-block;
    vertical-align: top;
}

.name-score,
.circles{
    display: inline-block;
    vertical-align: middle;
}

.name-score p {
    font-size: 14px;
}

#html5, 
#css3, 
#js,
#jquery,
#git,
#affinity-designer, 
#affinity-photo, 
#blender,
#git, 
#php,
#java {
    width: 100px;
    height: 40px;
    margin: 0 0 3px 3px;
    display: inline-block;
    vertical-align: middle;
}

.circles {
    border-radius: 50%;
    margin: 0 2px;
}

.yellow {
    width: 12px;
    height: 12px;
    background-color: #ffeb80;
}

.grey {
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: 1px solid #ddd;
}

#html5 {
    background: #fff url(../images/html5.png) center no-repeat;
    background-size: 28px;
}

#css3 {
    background: #fff url(../images/css3.png) center no-repeat;
    background-size: 28px;
}

#js {
    background: #fff url(../images/javascript.png) center no-repeat;
    background-size: 28px;
}

#jquery {
    background: #fff url(../images/jquery.png) center no-repeat;
    background-size: 60px;
}

#affinity-designer {
    background: #fff url(../images/affinity-designer.png) center no-repeat;
    background-size: 35px;
}

#affinity-photo {
    background: #fff url(../images/affinity-photo.png) center no-repeat;
    background-size: 35px;
}

#blender {
    background: #fff url(../images/blender.png) center no-repeat;
    background-size: 40px;
}

#git {
    background: #fff url(../images/git.png) center no-repeat;
    background-size: 50px;
}

#php {
    background: #fff url(../images/php.png) center no-repeat;
    background-size: 50px;
}

#java {
    background: #fff url(../images/java.png) center no-repeat;
    background-size: 27px;
}

.side-description {
    width: 460px;
    padding-left: 30px;
    display: inline-block;
    vertical-align: middle;
}




/* ---------- HiDPI screen ---------- */




.panels {
    height: 750px;
}

#image-div {
    margin: 150px auto 0;
}

.toggle-panels {
    height: 530px;
    padding: 47px 20px;
}

#personal-panel button {
    margin: 50px auto 0;
}