header {
    width: 100%;
    font-size: 0;
    text-align: center;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 3;
}

ul {
    padding: 15px 0;
}

ul li{
    width: 120px;
    display: inline-block;
    vertical-align: middle;
}

ul li div, 
ul li a {
    -o-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
}

ul li div {
    width: 40px;
    height: 40px;
    margin: auto;
    background: rgba(255, 255, 255, 0) url(../images/bM-favicon-grey.png) center no-repeat;
    background-size: 100%;
}

ul li div:hover {
    background-image: url(../images/bM-favicon.png);
}

ul li a {
    font-size: 20px;
    font-weight: 400;
    color: #444;
    text-decoration: none;
}

ul a:hover {
    color: #ff7878;
}



/* iPad portrait */
@media only screen 
    and (max-device-width:1024px)
    and (orientation:portrait) {
        
        ul {
            padding: 30px 0;
        }
        
        ul li div {
            width: 50px;
            height: 50px;
        }
        
        ul li a {
            font-size: 24px;
        }
        
}



/* iPhone6 portrait */
/*@media screen 
    and (max-device-width:768px)
    and (orientation:portrait) {
        
        ul {
            padding: 20px 0;
        }
        
        #menu-logo {
            width: 60px;
        }
        
        #menu-about {
            width: 80px;
        }
        
        #menu-projects {
            width: 100px;
        }
        
        #menu-contact {
            width: 90px;
        }
        
        ul li div {
            width: 40px;
            height: 40px;
        }
        
        ul li a {
            font-size: 20px;
        }
           
}*/