                    /* -------------------- GENERAL -------------------- */

@font-face {
    font-family: Avenir;
    src: url(../fonts/Avenir.ttc);
}

@font-face {
    font-family: STHeiti;
    src: url(../fonts/STHeiti.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: Avenir, Avenir Next, sans-serif;
    color: #444;
}

button {
    border: none;
    background-color: #ff7878;
    color: #fff;
    cursor: pointer;
    -moz-transition-duration: 300ms;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
}

button:focus {
    outline: 0;
}

a {
    text-decoration: none;
}



                    /* -------------------- HEADER -------------------- */

header {
    width: 100%;
    height: 40px;
    padding: 20px 0;
    font-size: 0;
    text-align: center;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 3;
}

ul li{
    width: 120px;
    display: inline-block;
    vertical-align: middle;
}

ul li div,
ul li a {
    -o-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
}

ul li div {
    width: 40px;
    height: 40px;
    margin: auto;
    background: rgba(255, 255, 255, 0) url(../images/bM-favicon-grey.png) center no-repeat;
    background-size: 100%;
}

ul li div:hover {
    background-image: url(../images/bM-favicon.png);
}

ul li a {
    font-size: 20px;
    font-weight: 400;
    color: #444;
    text-decoration: none;
}

ul a:hover {
    color: #ff7878;
}



                    /* -------------------- INDEX-PAGE -------------------- */

#index-container {
    width: 100%;
    position: relative;
    text-align: center;
    font-size: 0;
}

#first-panel {
    width: 100%;
    height: 95vh;
    min-height: 700px;
    padding-top: 70px;
    background-color: #fff;
    text-align: center;
    position: relative;
}

#first-panel > div:first-child {
    height: 455px;
    margin: 60px auto 50px;
}

.circle,
#name,
#profession {
    -moz-transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

.circle {
    width: 300px;
    height: 300px;
    margin: 20px 20px 10px;;
    border: 2px solid #222;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

#me {
    background: #fff url(../images/me.jpeg) center no-repeat;
    background-size: cover;
}

#me:hover {
    background-image: url(../images/pugz-dollarz.jpg);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

#name {
    padding-top: 20px;
    font: 70px STHeiti, Avenir, Arial, sans-serif;
    color: #ff7878;
    line-height: 60px;
}

#profession {
    padding: 10px 0;
    font-size: 22px;
    font-weight: 300;
    line-height: 10px;
    color: #bbb;
}

#arrow-down {
    width: 40px;
    height: 14px;
    margin: auto;
    position: absolute;
    right: 0;
    left: 0;
}

#outer-arrow-down,
#inner-arrow-down {
    width: 0;
    border-right: 24px solid transparent;
    border-left: 24px solid transparent;
    position: relative;
}

#outer-arrow-down {
    border-top: 16px solid #ccc;
    -moz-transition-duration: 300ms;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
}

#inner-arrow-down {
    border-top: 16px solid #fff;
    bottom: 20px;
}

#arrow-down:hover #outer-arrow-down{
    border-top-color: #ff7878;
}

#second-panel {
    width: 100%;
    height: 92vh;
    min-height: 660px;
    background-color: #eee;
    position: relative;
    z-index: 1;
    box-shadow: 0 -10px 20px #ddd;
    font-size: 0;
    text-align: center;
}

#second-panel h1 {
    width: 70%;
    margin: auto;
    padding: 90px 0 45px;
    font-size: 40px;
    font-weight: 500;
}

#img-container {
    text-align: center;
}

.img-points {
    width: 25%;
    min-width: 320px;
    height: 215px;
    margin: 10px;
    display: inline-block;
    position: relative;
}

#learning {
    background: transparent url(../images/learning.png) center no-repeat;
    background-size: cover;
}

#learning:hover {
    background: #fff url(../images/learning-bar.png) center top no-repeat;
    background-size: 100%;
}

#devotion {
    background: #fff url(../images/devotion.png) center no-repeat;
    background-size: cover;
}

#devotion:hover {
    background: #fff url(../images/devotion-bar.png) center top no-repeat;
    background-size: 100%;
}

#creativity {
    background: #fff url(../images/creativity.png) center no-repeat;
    background-size: cover;
}

#creativity:hover {
    background: #fff url(../images/creativity-bar.png) center top no-repeat;
    background-size: 100%;
}

.img-points p {
    padding: 25px 30px;
    font-size: 18px;
    font-weight: 400;
    color: #ccc;
    background-color: #fff;
    display: none;
    position: absolute;
    bottom: 0;
}

#second-panel button {
    width: 250px;
    height: 40px;
    margin-top: 40px;
    font-size: 16px;
    border-radius: 20px;
}

#second-panel button:hover {
    background-color: #ef6868;
}



                    /* -------------------- FOOTER -------------------- */

footer {
    width: 100%;
    padding: 17px 0 15px;
    font-size: 0;
    background-color: #707686;
    position: absolute;
    bottom: 0;
    z-index: 3;
}

footer p {
    padding-right: 20px;
    font-size: 14px;
    color: #444;
    display: inline-block;
    vertical-align: middle;
}

.github,
.mail {
    height: 35px;
    width: 35px;
    margin: 0 5px;
    display: inline-block;
    vertical-align: middle;
    -o-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
}

.github {
    background: transparent url(../images/github-grey.png) center no-repeat;
    background-size: 100%;
}

.github:hover {
    background-image: url(../images/github.png);
}

.mail {
    background: transparent url(../images/mail-grey.png) center no-repeat;
    background-size: 100%;
}

.mail:hover {
    background-image: url(../images/mail.png);
}



                    /* -------------------- HiDPI screen (1281-1440px) -------------------- */

@media only screen
    and (min-width: 1281px)
    and (max-width: 1440px) {

    header {
        padding: 25px 0;
    }

    ul li{
        width: 150px;
    }

    ul li div {
        width: 45px;
        height: 45px;
    }

    ul li a {
        font-size: 23px;
    }

    #first-panel > div:first-child {
        height: 500px;
        margin: 80px auto 65px;
    }

    .circle {
        width: 320px;
        height: 320px;
        margin: 25px 25px 15px;
        border-width: 3px;
    }
        
    #name {
        font-size: 75px;
    }
        
    #profession {
        font-size: 24px;
        line-height: 18px;
    }

    #second-panel h1 {
        padding: 100px 0 50px;
    }

    #second-panel button {
        margin-top: 60px;
    }
        
    footer {
        padding: 20px 0 17px;
    }

}

                    /* -------------------- HiDPI screen (1441-1680px) -------------------- */

/*@media only screen
and (min-width: 1441px)
and (max-width: 1680px) {

    header {
        height: 50px;
        padding: 25px 0;
    }

    ul li{
        width: 160px;
    }

    ul li div {
        width: 50px;
        height: 50px;
    }

    ul li a {
        font-size: 25px;
    }

    #first-panel {
        height: 920px;
    }

    #first-panel > div:first-child {
        height: 650px;
        margin: 100px auto 80px;
    }

    .circle {
        width: 380px;
        height: 380px;
        margin: 40px;
        border-width: 4px;
    }

    #second-panel h1 {
        font-size: 46px;
        font-weight: 500;
        padding: 140px 0 50px;
    }

    #second-panel button {
        margin: 60px 0 150px;
    }

}*/
